body{
    background: hsl(0, 0%, 95%);
    font-size: 15px;
    font-family: 'Big Shoulders Display', cursive;

}

main{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    height: 100vh;
    /* min-width: 375px; */
}

.product-card{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    color: hsla(0, 0%, 100%, 0.75);
    
    /* height: 300px; */
}

.product-card div{
    width: calc(100%/3);
    padding: 16px;
    /* height: 100%; */
    width: 100%;
}


h2{
    text-transform: uppercase;
}
.product-card p{
    font-family: 'Lexend Deca', sans-serif;
}

.card1{
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 0 0 8px;
}


.card2{
    background-color: hsl(184, 100%, 22%);
}

.card3{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 8px 8px 0;
}



.card1 div{
    width: 100%;
    padding: 4px;
}

.card2 div{
    width: 100%;
    padding: 4px;
}

.card3 div{
    width: 100%;
    padding: 4px;
}


.button{
    margin-top: 10px;
    margin-bottom: 10px;
}
a{
    color: hsla(0, 0%, 100%, 0.75);
    text-decoration: none;
    border: 1px solid hsla(0, 0%, 100%, 0.75);
    padding: 8px 16px;
    border-radius: 20px;
}

a:hover{
    background-color: hsla(0, 0%, 100%, 0.75);
}

@media only screen and (max-width: 768px) {
    body {
        overflow: hidden;
    }

    .product-card{
        flex-direction: column;
        min-width: 360px;
    }

    .product-card div{
        height: calc(100%/3);
    }

    button{
        margin-top: 0px;
    }
    .card1{
        border-radius: 8px 8px 0 0;
    }
    .card3{
        border-radius: 0 0 8px 8px;
    }
}